In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("matchups1-1.csv",  nrows=999999)

In [3]:
df.head()

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,Unnamed: 13
0,BR1_2304032235_utility,5218,16,False,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,NaN
1,BR1_2304032235_utility,7515,29,True,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,NaN
2,BR1_2304032235_jungle,9197,47,False,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,NaN
3,BR1_2304032235_jungle,10564,37,True,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,NaN
4,BR1_2303451507_top,10598,158,False,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,NaN

In [4]:
df['matchID'] = df['P_MATCH_ID'].str.split('_').str[1]
df['position'] = df['P_MATCH_ID'].str.split('_').str[2]
df["WIN"] = df["WIN"].astype(int)
df.head()

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,Unnamed: 13,matchID,position
0,BR1_2304032235_utility,5218,16,0,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,NaN,2304032235,utility
1,BR1_2304032235_utility,7515,29,1,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,NaN,2304032235,utility
2,BR1_2304032235_jungle,9197,47,0,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,NaN,2304032235,jungle
3,BR1_2304032235_jungle,10564,37,1,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,NaN,2304032235,jungle
4,BR1_2303451507_top,10598,158,0,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,NaN,2303451507,top

In [5]:
df = df.groupby(['matchID', 'WIN'], as_index = False).sum()
df

,matchID,WIN,GOLDEARNED,TOTALMINIONSKILLED,KILLS,ASSISTS,DEATHS,VISIONSCORE,TOTALDAMAGEDEALTTOCHAMPIONS,Unnamed: 13
0,1001288357,0,31550,467,5,4,21,75,42125,0.0
1,1001288357,1,41019,526,21,24,5,107,51758,0.0
2,1001303651,0,46640,486,22,26,39,124,85366,0.0
3,1001303651,1,59825,520,39,76,22,135,95004,0.0
4,1001341779,0,51776,723,18,28,28,197,56590,0.0
...,...,...,...,...,...,...,...,...,...,...
10553,971925188,1,59431,632,28,50,23,124,88083,0.0
10554,971929106,0,51277,677,21,37,36,195,60394,0.0
10555,971929106,1,63935,691,36,54,21,199,76772,0.0
10556,971951103,0,18495,277,3,3,13,37,15352,0.0
10557,971951103,1,26348,301,13,14,3,42,18395,0.0

In [6]:
df = df.drop(columns=["matchID","Unnamed: 13"])
df

,WIN,GOLDEARNED,TOTALMINIONSKILLED,KILLS,ASSISTS,DEATHS,VISIONSCORE,TOTALDAMAGEDEALTTOCHAMPIONS
0,0,31550,467,5,4,21,75,42125
1,1,41019,526,21,24,5,107,51758
2,0,46640,486,22,26,39,124,85366
3,1,59825,520,39,76,22,135,95004
4,0,51776,723,18,28,28,197,56590
...,...,...,...,...,...,...,...,...
10553,1,59431,632,28,50,23,124,88083
10554,0,51277,677,21,37,36,195,60394
10555,1,63935,691,36,54,21,199,76772
10556,0,18495,277,3,3,13,37,15352
10557,1,26348,301,13,14,3,42,18395

In [7]:
X = df.drop(columns=["WIN"])
y = df["WIN"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
X_train

,GOLDEARNED,TOTALMINIONSKILLED,KILLS,ASSISTS,DEATHS,VISIONSCORE,TOTALDAMAGEDEALTTOCHAMPIONS
8721,4042,31,0,0,0,3,2513
9960,51341,596,20,39,34,190,82007
5731,35476,367,21,17,11,48,35051
1193,65133,530,41,81,30,145,119450
7780,72015,680,41,59,39,223,130456
...,...,...,...,...,...,...,...
5734,58516,759,23,34,32,167,74676
5191,59576,532,43,44,28,123,107261
5390,16986,230,4,11,20,35,19134
860,51462,570,26,34,49,118,70777
7270,45472,542,21,32,35,99,66972

In [9]:
p = Perceptron(random_state=42)
p.fit(X_train, y_train)

Perceptron(random_state=42)

In [10]:
prediction_train = p.predict(X_train)
prediction_train

array([1, 0, 1, ..., 0, 1, 0])

In [11]:
prediction_test = p.predict(X_test)
prediction_test

array([1, 1, 1, ..., 1, 1, 1])

In [12]:
train_score = accuracy_score(prediction_train, y_train)
train_score

0.6974409727131344

In [13]:
test_score = accuracy_score(prediction_test, y_test)
test_score

0.7024390243902439